 body { 
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 200vh;
 }

 .header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
 }

 .headertop {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    
 }

 .headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
 }

 .headerlinks {
    display: flex;
    justify-content: right;
    flex-grow: 1;
 }

 ul {
    list-style-type: none;
  }
  
  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
    margin: 8px;
    font-size: 18px;
  }

  .img1 {
   height: 250px;
   width: 350px;
  }

  .headerbottom {
    display: flex;

 }

 .headerleft {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
 }

 .headerright {
   display: flex;
   flex-grow: 1;
   justify-content: left;  
 }

 .texttop {
   display: flex;
    align-items: baseline;
    justify-content: left; 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-grow: 1;
 }

 .textbottom {
    font-size: 18px;
    color: #E5E7EB;
    flex-grow: 1;
 }

 button {
    padding: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
 }

 .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
 }

 .infotop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
 }

 .infobottom {
    display:flex;
 }

 .img2 {
   height: 250px;
   width: 250px;
 }

 .imgcap {
    display:flex;
    flex-direction: column;
 }

 .quote {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-family: light italic;
 }

 .quotetop {
    display: flex;
 }

 .quotebottom {
    display: flex;
 }

 .signup {
    display:flex;
    flex-direction: column;
    flex: 1;
 }

 .signtop{
    display: flex;
    background-color: white;
    flex-grow: 2;
 }

 .lefttext, .righttext {
    padding: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
 }

 .footer {
    display: flex;
    flex-grow: 1;
    background-color: #1F2937;
 }